<a href="https://colab.research.google.com/github/DaDosValle/Analise_Preditiva-Machine_Learning-TelecomX/blob/main/Analise_Preditiva_TelecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # **Modelos de classificação de churn (evasão) clientes Telecom X**

#### Quem são os clientes com maior risco de evasão?
#### Quais variáveis mais influenciam esse comportameto?
#### Que tipo de perfil a empresa precisa manter mais próximo?

### - Preparar os dados para a modelagem (tratamento, encoding, normalização).

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [5]:
dados = pd.read_csv('/content/dados_tratados.csv')

In [6]:
dados.shape

(7043, 18)

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   churn                    7043 non-null   int64
 1   sexo                     7043 non-null   object
 2   idoso                    7043 non-null   int64
 3   possui parceiro          7043 non-null   int64
 4   possui dependentes       7043 non-null   int64
 5   tempo contrato           7043 non-null   int64
 6   servico telefone         7043 non-null   int64
 7   multiplas linhas         7043 non-null   int64
 8   servico internet         7043 non-null   object
 9   suporte tecnico          7043 non-null   int64
 10  streaming tv             7043 non-null   int64
 11  streaming filmes         7043 non-null   int64
 12  contrato conta           7043 non-null   object
 13  preco diario             7043 non-null   float64
 14  cobrancas mensais        7043 non-null   float64
 15  total de encargos        7043 non-null   float64
 16  excedente a mensalidade  7043 non-null   float64
 17  churn_label              7043 non-null   object
dtypes: float64(4), int64(10), object(4)
memory usage: 990.6+ KB

In [8]:
dados.head()

,churn,sexo,idoso,possui parceiro,possui dependentes,tempo contrato,servico telefone,multiplas linhas,servico internet,suporte tecnico,streaming tv,streaming filmes,contrato conta,preco diario,cobrancas mensais,total de encargos,excedente a mensalidade,churn_label
0,0,Feminino,0,1,1,9,1,0,DSL,1,1,0,Um ano,2.2,65.6,593.3,527.7,Permaneceram
1,0,Masculino,0,0,0,9,1,1,DSL,0,0,1,Mensal,2.0,59.9,542.4,482.5,Permaneceram
2,1,Masculino,0,0,0,4,1,0,Fibra optica,0,0,0,Mensal,2.5,73.9,280.8,207.0,Saíram
3,1,Masculino,1,1,0,13,1,0,Fibra optica,0,1,1,Mensal,3.3,98.0,1237.8,1139.8,Saíram
4,1,Feminino,1,1,0,3,1,0,Fibra optica,1,1,0,Mensal,2.8,83.9,267.4,183.5,Saíram

In [9]:
dados['servico interne'].unique()

array(['DSL', 'Fibra optica', 'Nao disponivel'], dtype=object)

In [10]:
dados['servico internet'].value_counts()

servico internet
Fibra optica      3096
DSL               2421
Nao disponivel    1526
Name: count, dtype: int64

In [12]:
dados['contrato conta'].value_counts()

contrato conta
Mensal       3875
Dois anos    1695
Um ano       1473
Name: count, dtype: int64

In [13]:
df = dados.copy()

# Seleção da variável resposta/alvo
y = df['churn']

# Seleção das variáveis explicativas
X = df.drop(['churn', 'churn_label'], axis=1)

In [18]:
X = pd.get_dummies(X, columns=[
    'sexo',
    'servico internet',
    'contrato conta'
], drop_first=True)

In [19]:
X

,idoso,possui parceiro,possui dependentes,tempo contrato,servico telefone,multiplas linhas,suporte tecnico,streaming tv,streaming filmes,preco diario,cobrancas mensais,total de encargos,excedente a mensalidade,sexo_Masculino,servico internet_Fibra optica,servico internet_Nao disponivel,contrato conta_Mensal,contrato conta_Um ano
0,0,1,1,9,1,0,1,1,0,2.2,65.6,593.3,527.7,False,False,False,False,True
1,0,0,0,9,1,1,0,0,1,2.0,59.9,542.4,482.5,True,False,False,True,False
2,0,0,0,4,1,0,0,0,0,2.5,73.9,280.8,207.0,True,True,False,True,False
3,1,1,0,13,1,0,0,1,1,3.3,98.0,1237.8,1139.8,True,True,False,True,False
4,1,1,0,3,1,0,1,1,0,2.8,83.9,267.4,183.5,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,13,1,0,1,0,0,1.8,55.2,742.9,687.8,False,False,False,False,True
7039,0,1,0,22,1,1,0,0,1,2.8,85.1,1873.7,1788.6,True,True,False,True,False
7040,0,0,0,2,1,0,0,0,0,1.7,50.3,92.8,42.4,True,False,False,True,False
7041,0,1,1,67,1,0,1,0,1,2.3,67.8,4627.6,4559.8,True,False,False,False,False
7042,0,1,1,63,0,0,0,1,1,2.0,59.0,3707.6,3648.6,True,False,False,False,False

- Realizar análise de correlação e seleção de variáveis.

-  Treinar dois ou mais modelos de classificação.

- Avaliar o desempenho dos modelos com métricas.

- Interpretar os resultados, incluindo a importância das variáveis.

- Criar uma conclusão estratégica apontando os principais fatores que influenciam a evasão.